@model SAT.DATA.ScheduledClass

@{
    ViewBag.Title = "Delete";
}


<div class="col-md-10 offset-1 custom-formatting">
    <h4>@Html.DisplayFor(model => model.Cours.CourseName)</h4>
    <p>
        @Html.DisplayNameFor(model => model.InstructorName):
        @Html.DisplayFor(model => model.InstructorName)
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClassStatu.SCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClassStatu.SCName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class=" no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
            <div class="float-right">@Html.ActionLink("Back to List", "Index")</div>
        </div>
    }
</div>
