@model IEnumerable<SAT.DATA.ScheduledClassStatu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SCID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SCID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SCID })
        </td>
    </tr>
}

</table>
