@model SAT.DATA.StudentStatus

@{
    ViewBag.Title = "Delete";
}

<div class="col-md-10 offset-1 custom-formatting">
    <h4> @Html.DisplayFor(model => model.SSName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SSDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSDescription)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class=" no-color">
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <div class="float-right">@Html.ActionLink("Back to List", "Index")</div>
    </div>
    }
</div>
