@model SAT.DATA.Cours

@{
    ViewBag.Title = "Delete";
}

<div class="col-md-10 offset-1 custom-formatting">
    <h4>@Html.DisplayFor(model => model.CourseName)</h4>
    <p> @Html.DisplayNameFor(model => model.IsActive)  @Html.DisplayFor(model => model.IsActive)</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

       
    }
</div>
